<!DOCTYPE html>
<html>
<head>
    <title>Test task reference</title>
</head>
<body>

<h1 align="center">Test task reference</h1>

<h2 align="center">Internet DEMO store in Ruby on Rails</h2>

<h4>1. Usage</h4>

<ul>
	<li>Head to the "All products" page</li>
	<li>Choose a product you want to buy. Enter the quantity (of the desired product) into the corresponding field and press "Add to cart" button</li>
	<li>In the upper right corner you see an orange little circle next to the "Cart" title. Press on it to get to the Cart control page</li>
	<li>Check out the correctness of your cart content. Adjust it if necessary - change the items quantities or even remove the unwanted items</li>
	<li>Press the "Checkout" button to proceed to the order creation page</li>
	<li>If you are not signed in you will be redirected to the sign in page</li>
	<li>Sign in with the user credentials: login "client1@example.com", password "12345678". Set the "Remember me" checkbox if you want.</li>
	<li>Return to the cart control page (upper right corner) and press the "Checkout" button. (keeping the same page before and after log in is not implemented for the sake of the code simplicity)</li>
	<li>On the order control page choose a predefined payment method and press "Create Order"</li>
	<li>That's it. You may return to the main page or leave the site</li>
</ul>

<h4>2. Notes</h4>

<p>If you want to try out the admin area sign out as "client1@example.com" and sign in with the admin credentials:</p>

<p>Login: admin@example.com</p>

<p>Password: 12345678</p>

<h4>3. Technical details</h4>

<ul>
	<li>This site is written in Ruby on Rails 5.1</li>
	<li>The whole code is covered with RSpec (and ROR 5.1 System) tests</li>
	<li>The user authentication and authorization: the Devise gem</li>
	<li>The user roles: the Rolify gem</li>
	<li>Design: the Bootstrap 4 beta gem</li>
	<li>The product boxes on the main page have responsive design</li>
	<li>The admin area is built using the "rails-admin-scaffold" gem</li>
	<li>The product pictures upload: the CarrierWave gem (auto-disabled if the site is on Heroku - with default images)</li>
</ul>

<p>The site sourcecodes are available on GitHub. See the link on the top bar.</p>

<p>You may freely alter the content of the site because you can restitute the initial site content proceeding with the "Reset" link on the top bar.</p>

<h4>4. Database relations</h4>

<p>Category has_many Product</p>

<p>Cart has_many LineItem</p>

<p>Order has_many LineItem</p>

<p>User has_one Cart</p>

<p>User has_one Order</p>

<p>Product has_many LineItem</p>

<h5>Scaffolding:</h5>

<p>rails g scaffold Category title:string discount:integer</p>

<p>rails g scaffold Product title:string description:text category:belongs_to price:decimal{8.2} salescount:integer</p>

<p>rails g scaffold Cart user:belongs_to</p>

<p>rails g scaffold Order user:belongs_to pay_type:string</p>

<p>rails g scaffold LineItem cart:belongs_to order:belongs_to product:belongs_to quantity:integer</p>


<h5>NOTE:</h5>

<p>At the time of the purchase LineItem is simply moved from Cart to Order.</p>

<h5>Admin area scaffolding:</h5>

<p>rails g admin:scaffold_controller Category title:string discount:integer</p>

<p>rails g admin:scaffold_controller Product title:string description:text category:belongs_to price:decimal{8.2} salescount:integer</p>

<p>rails g admin:scaffold_controller Cart user:belongs_to</p>

<p>rails g admin:scaffold_controller Order user:belongs_to pay_type:string</p>

<p>rails g admin:scaffold_controller LineItem cart:belongs_to order:belongs_to product:belongs_to quantity:integer</p>

<p>rails g admin:scaffold_controller User name:string address:string</p>

</body>
</html>