<!DOCTYPE html>
<html>
<head>
    <title>Интернет-магазин на Ruby on Rails</title>
</head>
<body>
    <h1 align="center">Описание выполненного тестового задания</h1>
<h2 align="center">Интернет-магазин на Ruby on Rails</h2>
<h4>1. Установка и запуск (локальные)</h4>
	<p>Если Вы хотите запустить тестовое задание на своём компьютере (т.е. не на
	Heroku
	<a href="https://programrails-depot.herokuapp.com/">
	https://programrails-depot.herokuapp.com/</a>), то перед его использованием 
	необходимо выполнить его первичную настройку.</p>
<p>Зайдите в папку &quot;/depot&quot; 
и запустите в консоли Rails команды:</p>
<p>1. </p>
<p>&quot;$ bundle install&quot;</p>
<p>Это установит гемы, необходимые для работы тестового задания.</p>
<p>2.</p>
	<p>Запускаете в консоли Rails команду &quot;rails 
s&quot;. Ждёте, пока запускается сервер
Rails.</p>
	<h4>2. Настройка</h4>
<p>Открываете броузер и переходите в нём на адрес
<a href="http://localhost:3000/">http://localhost:3000/</a> (если это локальная 
установка) или <a href="https://programrails-depot.herokuapp.com/">
https://programrails-depot.herokuapp.com/</a> (если это глобальная установка). 
Там находится главная страница Интернет-магазина. </p>
	<p>В шапке сайта слева переходите по ссылке &quot;<span lang="en-us">Reset</span>&quot;<span lang="en-us">
	</span>и нажимаете там кнопку &quot;<span lang="en-us">Reset database</span>&quot;<span lang="en-us">.
	</span>Это действие восстановит изначальную наполненность базы данных сайта 
	заранее подготовленными тестовыми данными (это действие эквивалентно 
	последовательному выполнению в консоли команд &quot;rake db:migrate:reset&quot; и &quot;rake 
	db:seed&quot;). Поэтому Вы можете потом смело как угодно изменять и даже удалять 
	любые сущности на сайте (товары, пользователей - что угодно) - кнопка &quot;<span lang="en-us">Reset 
	database</span>&quot; восстановит всё назад, как было.</p>
<h4>3. Использование</h4>
<p>На главной странице Интернет-магазина Вы увидите список 10 самых 
популярных товаров, выпадающее меню с категориями товаров, и т.д. На этой 
странице можно оформить покупку какого-либо товара. Для этого нужно указать его 
количество в соответствующем месте и нажать кнопку &quot;Add to 
Cart&quot;. В правом верхнем углу экрана появится 
надпись &quot;Cart&quot; и число в 
оранжевом кружочке - означающее количество (наименований) выбранного товара. Для 
оформления заказа нужно кликнуть на эту надпись &quot;Cart&quot;. 
Произойдёт переход на страницу корзины покупателя.</p>
<p>На странице корзины покупателя можно изменить количество любого покупаемого 
товара. В предусмотренном поле ввода проставьте новое число и нажмите рядом 
кнопку &quot;Update&quot; (в реальном 
жизненном примере такой кнопки, разумеется, не будет, а будет некий вариант 
обработки на JavaScript). 
При этом автоматически перерассчитается общая сумма покупки.
Можно удалять отдельные товары из корзины - для этого достаточно нажать 
кнопку &quot;Х&quot; справа от каждой строки с товаром. Если нужно опустошить корзину 
полностью, нажмите на кнопку &quot;Empty cart&quot;.
На каждый товар указана скидка (если есть) - в колонке рядом с ценой. 
Скидка привязана к категории товаров.</p>
<p>Для совершения покупки нажмите на кнопку &quot;Chekout&quot;.
При этом вы попадёте на страницу входа пользователя - поскольку покупать 
товары могут только зарегистрированные пользователи. Введите 
Email &quot;user@example.com&quot; и пароль 
&quot;12345678&quot; (на сайте адреса электронной почты используются в качестве 
логина пользователя). Флажок &quot;Remember me&quot;
означает будет ли залогинившийся пользователь вспоминаться сайтом после 
закрытия-открытия броузера.</p>
<p>Зайдя как пользователь на сайт, нажмите снова на ссылку &quot;Cart&quot;
в правом верхнем углу и снова нажмите на кнопку &quot;Chekout&quot;. 
Вы перейдёте на страницу оформления заказа. Заполните поля необходимой 
(произвольной) информацией и нажмите кнопку &quot;Place Order&quot;. 
Вы увидите надпись &quot;Thank you for your order.&quot;, вас перенаправит на главную 
страницу магазина и ваша корзина опустошится. На этом весь цикл покуп<span lang="ru">к</span>и товара 
завершён.</p>
<p>На сайте магазина предусмотрено разграничение прав пользователей. Ваш пользователь 
&quot;user@example.com&quot; является обычным пользователем, у которого есть права 
только на просмотр, заполнение корзины и создание заказа. При попытке 
редактирования или удаления любого ресурса на сайте произойдёт отказ в доступе, 
сопровождаемый соответствующим информационным сообщением. Например, введите 
вручную в адресной строке броузера <a href="http://localhost:3000/products">http://localhost:3000/products</a> 
(или <a href="https://programrails-depot.herokuapp.com/products">
https://programrails-depot.herokuapp.com/products</a>) и попробуйте 
редактировать или изменить любую строку с товаром (кнопки &quot;Edit&quot;
и &quot;Destroy&quot;). Сайт 
откажет в доступе и выдаст соответствующее сообщение. Но смотреть карточку 
любого товара (кнопка &quot;Show&quot;) обычный пользователь 
может (имеет право на просмотр).</p>
<p>В системе предусмотрена возможность создания пользователей с полномочиями 
администратора (полный доступ на всё). Для создания 
пользователя-администратора нужно зарегистрировать обычного пользователя в 
обычном порядке (кнопка &quot;Register&quot;
в правом верхнем углу, доступная после разлогинивания), затем, зайдя 
в систему под любым другим пользователем с полномочиями админа, можно 
назначить (убрать) любому пользователю админские полномочия. Также админ 
может заблокировать любого пользователя. Поддерживается даже немедленная 
блокировка - т.е. если заблокировать уже залогинившегося пользователя, то 
система не позволит заблокированному пользователю делать вообще хоть что-то 
- при первом же переходе на другую страницу сайта заблокированный 
пользователь будет принудительно разлогинен и увидит сообщение о своей 
блокировке. Зайти как пользователь на сайт заблокированный пользователь уже 
не сможет - он лишь увидит при попытке входа сообщение о том, что он 
заблокирован.</p>
<p>Админ может также удалять пользователей. Но он не может удалить 
последнего админа из системы - для этого предусмотрена специальная защита.</p>
<p>Тестовое задание содержит готового пользователя с админскими 
полномочиями: Email: &quot;admin@example.com&quot;, Password: 
&quot;12345678&quot; (пароли у всех предустановленных пользователей одинаковы). 
У админа, помимо полных прав, также имеется и расширенный интерфейс - 
колонка навигации слева на экране у админа содержит дополнительные элементы: 
&quot;Categories&quot;, &quot;Products&quot;, &quot;Orders&quot;, &quot;Carts&quot;
, &quot;Users&quot; - всего этого нет в 
интерфейсе обычного пользователя. По этим ссылкам можно смотреть и 
редактировать список товаров, категорий, заказов, корзин, пользователей (всё 
это не нужно рядовому пользователю), можно назначать любому товару любую 
категорию (т.е. перемещать товары из одной категории в другую).</p>
<p>Состояние корзины запоминается для текущего пользователя и 
восстанавливается при его повторном появлении на сайте.</p>
<p>Сайт имеет также предустановленного заблокированного пользователя:
Email: &quot;blocked@example.com&quot;, Password: &quot;12345678&quot;.
Можете убедиться, что такой пользователь не сможет зайти на сайт.</p>
<p>Все формы, где предусмотрен ввод пользовательских данных, имеют защиту от 
ввода пустых полей и от ввода заведомо неверных данных.</p>
<h4>4. Технические подробности</h4>
<p>Тестовое задание выполнено максимально близко к требованиям. Веб­сайт не 
общается с базой данных напрямую, а использует для этого промежуточный слой 
веб­сервисов, причём обязательно в рамках стандартной архитектуры
REST (только стандартные 7 действий 
- за исключением подсистемы пользователей). Все 
локальные действия на страницах сайта выполняются без перезагрузки страницы (Ajax 
+ JQuery). Подсистема пользователей реализована 
на геме Devise, полномочия пользователей - на геме
CanCan. Интерфейс сайта сделан на 
Bootstrap. Дополнительно местами добавлены вручную нужные стили
CSS. Блоки товаров на главной странице сайта - 
плавающие и адаптивные, т.е. они поддерживают изменение размеров экрана (без 
разрушения и перекосов вёрстки CSS)
- т.н. &quot;отзывчивый дизайн&quot;. Отзывчивый дизайн 
есть только на главной странице сайта и сделан он в самой упрощённой форме 
(только для демонстрации идеи &quot;отзывчивости&quot; в рамках тестового задания).</p>
<h4>5. Примечание</h4>
<p>Тестовое задание представляет из себя расширенный пример из учебника:</p>
<p>Agile Web Development with Rails<br>
Fourth Edition<br>
Sam Ruby, Dave Thomas, David Heinemeier Hansson<br>
ISBN-13: 978-1-934356-54-8</p>
<p>Некоторые идеи заимствованы у сайта
<a href="http://www.read.ru">read.ru</a>.</p>
</body>
</html>