 <% cart = @cart %>

 <a class="nav-link" href=<%= cart_path(cart) %> data-remote="false">Cart<% if cart.line_items.count > 0 %> <span class="badge badge-warning"><%= cart.line_items.count %></span><% end %></a>